html {
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  margin: 0;
  padding: 1em;
  background: #EAEBDB;
  color: #000000;
  font-family: "Century Gothic",  /* Windows (HP printer) */ "Avant Garde Gothic",  /* HP font name */ "Avant Garde",  /* MacOS */ "URW Gothic L", /* Unix+X+FontConfig */ /* Fallback options */ helvetica,  /* Unix+X, MacOS */ sans-serif;
}
a {
  outline;
}
img {
  border: 0;
}
#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  font-weight: bold;
  color: #9BA99C;
  text-shadow: 1px 1px 0 #F9F9FA;
  z-index: 50;
  margin: 0;
  padding: 0;
  text-align: right;
}
#menu a, #menu a:link, #menu a:visited, #menu a:hover, #menu a:active {
  padding: 0.2em 2em 0.2em 0;
  display: inline-block;
  font-weight: bold;
  color: #9BA99C;
  text-shadow: 1px 1px 0 #F9F9FA;
  text-decoration: none;
  outline: 0;
}
#menu a.title {
  float: left;
  padding: 0.2em 0 0.2em 2em;
}
a.main, a.main:link, a.main:visited, a.main:hover, a.main:active {
  float: left;
  display: inline-block;
  padding: 0 1em;
  line-height: 2;
  color: #9BA99C;
  text-shadow: 1px 1px 0 #F9F9FA;
  text-decoration: none;
  outline: 0;
}
div.w {
  margin: 2em auto 1em;
  padding : 0;
  width: 60em;
}
div.c, div.i {
  background: #F9F9FA;
  margin: 0 auto 2em;
  box-shadow: 0 1px 3px #A4AA82;
  -webkit-border-radius: 0.1em;
  -moz-border-radius: 0.1em;
  border-radius: 0.25em;
  clear: both;
}
div.c {
  padding: 1em;
}
div.i {
  padding: 0;
  line-height: 1;
}
div.i img.b {
  margin: 0;
  padding: 0;
  width: 100%;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
}
div.i div.b, div.i div.u {
  padding: 1em;
  margin: 0;
  border: 0;
  color: #A4AA82;
  line-height: 1.5
}
div.i div.u a, div.i div.u a:link, div.i div.u a:visited, div.i div.u a:hover, div.i div.u a:active {
  color: #A4AA82;
  text-decoration: none;
}
div.i div.u {
  text-align: right;
}
div.i div.u a img {
  float: right;
  margin: 0 0 0 1em;
  width: 100px;
  height: 100px;
  border-radius: 0.25em;
}
img#portrait {
  border-radius: 0.25em;
}
div.i h3 {
  color: #A4AA82;
  font-size: 1.5em;
}
div.i h3 a, div.i h3 a:link, div.i h3 a:visited, div.i h3 a:hover, div.i h3 a:active,
table#profile a, table#profile a:link, table#profile a:visited, table#profile a:hover, table#profile a:active {
  color: #A4AA82;
  text-decoration: none;
}
h1, h2, h3 {
  margin: 0 auto 1em;
  padding: 0;
}
h1 {
  color: #F9F9FA;
  font-size: 2em;
  font-weight: bold;
  line-height: 1;
  text-shadow: 1px 1px 0 #9BA99C;
}
h1.main {
  float: left;
}
h1 a, h1 a:link, h1 a:visited, h1 a:hover, h1 a:active {
  color: #F9F9FA;
  text-shadow: 1px 1px 0 #9BA99C;
  text-decoration: none;
}
span.h1-prefix {
  float: left;
  padding: 0 0.5em 0 0;
  color: #9BA99C;
  font-size: 2em;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -0.25em;
  text-shadow: 1px 1px 0 #F9F9FA;
}
h2 {
  text-align: right;
  color: #9BA99C;
  font-size: 2em;
  font-weight: bold;
  line-height: 1;
  text-shadow: 1px 1px 0 #F9F9FA;
}
form label {
  padding-right: 1em;
}
form .right {
  float: right;
  margin: 0;
}
form .right label {
  padding-right: 0.5em;
}
form table {
  border: 0;
  margin: 0 auto;
}
form table th {
  text-align: right;
  font-weight: normal;
}
form table td.error {
  color: red;
}
form#publish input[type=text], form#publish textarea {
  width: 100%;
}
form#publish textarea {
  height: 15em;
}
textarea {
  width: 100%;
  height: 15em;
}
img#portrait {
  float: left;
  width: 33%;
  max-width: 500px;
}
table#profile, div#profile-bio {
  float: right;
  width: 66%;
  margin: 0 auto 0 0;
}
table#profile th, table#profile td {
  text-align: right;
}
table#settings-nav {
  width: 100%;
}
table#settings-nav td {
  text-align: center;
}
label.after-input {
  padding-left: 0.5em;
  padding-right: 0;
}
label.after-input + input {
  margin-left: 1em;
}
.clear {
  clear: both;
  height: 0;
  width: 0;
}